.progressText {
  font-size: 1rem;
  margin-left: 10px;
  z-index: 1;
  justify-self: start;
}

.goalText {
  font-size: 1rem;
  margin-right: 10px;
  z-index: 1;
  justify-self: end;
}

.inline {
  position: absolute;
}

.relative {
  position: relative;
}

.wrapper {
  min-width: 180px;
  max-width: 800px;
  position: relative;
  display: grid;
  grid-template:
    'a b'
    'bar bar';
}

.inlineText {
  display: block;
}

.progressBar {
  position: relative;
  grid-area: bar;
  background: #1a4c6d;
  overflow: hidden;
  border-radius: 300px;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: 90%;
  color: #fff;
  text-shadow: 0 0 5px black;
}

.progress {
  background: #26c2eb;
  height: 100%;
  text-align: right;
  justify-self: start;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.17) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.17) 50%,
    rgba(255, 255, 255, 0.17) 75%,
    transparent 75%
  );
  overflow: hidden;
  animation: barberpole 2s linear infinite;
}

@keyframes barberpole {
  100% {
    background-position: var(--barber-shift, 40px) 0;
  }
}
